
section{
     display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    flex-wrap: wrap;
    
}
h2{
    margin-top: 50px;
    text-align: center;
    
}
img{
    
    width: 5rem;
    margin: 15px;

}

img:hover{
    transform: scale(1.10);
}
  