<nav>
    <span><a [routerLink]="['']">Meu Portifolio</a></span>
    <div class="menu" (click)="toggleMenu()" [ngClass]="{'x-button': isButtonX, 'menu-button': !isButtonX}">
      <ng-container *ngIf="isButtonX; else menuIcon">&#10006;</ng-container>
      <ng-template #menuIcon>&#9776;</ng-template>
    </div>
   
   
</nav>
 <ul *ngIf="isMenuOpen"  >
        <li><a [routerLink]="['projetos']">Projetos</a></li>
        <li ><a href="https://github.com/MatthDourado">Github</a></li>
        <li ><a href="https://www.linkedin.com/in/matheusdfa/">Linkedin</a></li>
    </ul>
