<app-menu></app-menu>
<menu-mobile></menu-mobile>
<app-principal-card></app-principal-card>

<article>
<normal-card [routerLink]="['tecnologias']" photoCover="assets\img\tecnologias.svg" cardTitle="Tecnologia e Ferramentas" ></normal-card>
<normal-card [routerLink]="['projetos']" photoCover="assets\img\projeto.PNG" cardTitle="Meus Projetos" ></normal-card>
<!-- <normal-card photoCover="assets\img\social-medias.png" cardTitle="Contato" ></normal-card> -->
<app-social-button></app-social-button> 
</article>
